body {
    /* overflow-x: hidden; */
    /* height: 1000vh; */
}

.Wrap {
    min-width: 1900px;

}



/* main_bar */
.main_bar {
    position: relative;
}

.main_bar::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 1.5px;
    height: 60px;
    background: #555;
    transform: translate(0, -50%);
}




/* top_banner */
.top_banner {
    font-size: 13px;
    line-height: 35px;
    border-bottom: 1px solid #ddd;
}

.top_banner .f_inner {
    justify-content: flex-end;
}

.top_banner a {
    padding: 0 15px;
    margin: 0 0 0 15px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.f_inner {
    display: flex;
    flex-direction: row;
    width: 1200px;
    margin: 0 auto;
}



/* 드롭다운배너 */
#header {
    position: sticky;
    top: 0;
    left: 0;

    z-index: 1000;

    padding: 0 50px;
    justify-content: space-between;
    line-height: 100px;
    background: rgba(252, 252, 252, 0.9);
    display: flex;

}



#header h1 {

    font-size: 0;
}



#header .gnb>ul {
    display: flex;
    justify-content: center;
    width: 1200px;

}

#header .gnb>ul>li>a {
    font-size: 20px;
    font-weight: 500;
}




#header .right_menu a {
    font-size: 15px;
    line-height: 40px;

}

#header .gnb>ul>li>a {
    padding: 0 50px;
    top: -20px;
}


#header .gnb>ul>li a {
    display: block;

}

#header .gnb>ul>li .menu_wrap {
    position: absolute;
    top: 100px;
    left: 0px;
    right: 0;
    line-height: 25px;
    display: none;
    background: rgba(252, 252, 252, 0.9);
    border: 1px solid #ddd;
}

#header .gnb>ul>li:hover .menu_wrap {
    display: block;
}



#header .mega {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 40px 100px;
    gap: 50px;

}

#header .mega img {
    width: 250px;
    padding: 10px 0;
}

#header .mega .right_menu {
    display: flex;
    gap: 45px;
}

#header .mega .left_img {

    padding: 0 100px;
    border-right: 2px solid #ddd;
}






/* search input */
#header .search input {
    outline: none;
    border: none;
    border-bottom: 1px solid #555;
    padding: 5px 0;
    width: 100px;
    transition: 0.5s;
    background: transparent;
    ;
}

#header .search input:focus {
    width: 120px;

}

#header .search input::placeholder {
    color: #ddd;

}

#header .search input:focus::placeholder {
    color: transparent;
}

#header .search button {
    background: transparent;
    border: none;
    font-size: 30px;
    line-height: 1;
}

#header .search_toggle {
    display: none;
}







/* popup */
.popup {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-130%, -50%);
    z-index: 9999;
}

.popup button {
    position: absolute;
    bottom: 535px;
    right: 10px;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;

}






/* slideTab */
#slideTab {
    position: relative;
    background-image: url(../images/bg_01.jpg);
    height: 650px;
    padding: 250px 0 0 0;
    transition: 0.5s;
}

#slideTab h2 {
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 40px 0;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 1px #333;

}

#slideTab .inner {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;

    font-size: 17px;
    font-weight: 500;

    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 0 #333;

}

#slideTab .menu {
    display: flex;
    justify-content: center;
    margin: -150px auto 30px auto;
    gap: 30px;
}

#slideTab .menu button {
    background: transparent;
    border: none;
}

#slideTab .menu>li::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: tan;
    margin: 5px auto;
}

#slideTab .menu>li.on::after {
    width: 30px;
    transition: 0.5s;
}

#slideTab .con>div {
    visibility: hidden;
    height: 0;
}

#slideTab .con>div.on {
    visibility: visible;
    height: auto;
}

#slideTab .con .sl01 {
    position: relative;



}

#slideTab .con .bn {
    padding: 50px 0 0 0;
}

#slideTab .con .bp {
    padding: 80px 0 0 0;

}

#slideTab .con .bp .sl01 {
    display: flex;

    margin: 300px 0 0 0;
}

#slideTab .sl01 .bp {
    display: flex;


}

#slideTab .sl01 .bp p {
    color: #333;
    text-shadow: 0 0 0 #fff;
    font-size: 17px;
    font-weight: 400;
}

#slideTab .con .bp .sl02 {
    display: flex;

}

#slideTab .sl02 .bp {
    display: flex;
    width: 50%;
    margin: 0 auto;
}

#slideTab .sl02 .bp p {
    color: #333;
    text-shadow: 0 0 0 #fff;
    font-size: 17px;
    font-weight: 400;
}

#slideTab .con .bp .sl03 {
    display: flex;
}

#slideTab .sl03 .bp {
    display: flex;
}

#slideTab .sl03 .bp p {
    color: #333;
    text-shadow: 0 0 0 #fff;
    font-size: 17px;
    font-weight: 400;
}

#slideTab .con .bp .sl04 {
    display: flex;

}

#slideTab .sl04 .bp {
    display: flex;
    width: 50%;
    margin: 0 auto;
}

#slideTab .sl04 .bp p {
    color: #333;
    text-shadow: 0 0 0 #fff;
    font-size: 17px;
    font-weight: 400;
}


#slideTab .con .bp .sl05 {
    display: flex;
}

#slideTab .sl05 .bp {
    display: flex;
}

#slideTab .sl05 .bp p {
    color: #333;
    text-shadow: 0 0 0 #fff;
    font-size: 17px;
    font-weight: 400;
}

#slideTab .con figure {
    padding: 0 15px;

}

#slideTab .slide {
    margin: 0 -15px;
}






/* mainYoutube */
.mainYoutubeBg {
    margin: 350px 0 0 0;
    color: #fff;
    width: 100%;
}

.sec {
    padding: 50px 0;
}

.sec .tit {
    width: 1200px;
    height: 180px;
    margin: 0 auto;
    text-align: center;
}

.sec .tit h2 {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.35em;
    margin: 40px 0 10px 0;
}

.sec .tit .tit_dec {
    display: block;
    font-size: 14px;
    margin: 20px 0 50px 0;
    word-break: keep-all;
    line-height: 24px;
}








/* mainContent */
.mainContent {
    padding: 60px 0 170px 0;
    background: #fff;

}

.mainContent h2 {
    font-size: 28px;
    font-weight: 700;
    padding: 20px 0 30px 0;
    text-align: center;
    text-transform: uppercase;
}

.mainContent h2 ::after {
    content: "";
    display: block;
    width: 25px;
    height: 2px;
    background: #333;
    margin: 20px auto;
}

.mainContent p {
    font-size: 17px;
    font-weight: 300;
    text-align: center;
    margin: 0 0 80px 0;
}

.mainContent .inner {
    display: flex;
    gap: 2px;
    width: 1800px;
    margin: 0 auto;
}




.mainContent .inner figure {
    position: relative;
    flex: 1;
    height: 500px;
    background: #333;
    overflow: hidden;
    transition: 0.5s;
}

.mainContent .inner figure:hover {
    flex: 3;
}

.mainContent .inner .itm01 {
    background: url(../images/main-banner-L-221208.jpg) no-repeat center center/cover;
}

.mainContent .inner .itm02 {
    background: url(../images/d99a48bb67d2c8b577288b500ef480ab.jpg) no-repeat center center/cover;
}

.mainContent .inner .itm03 {
    background: url(../images/3916b15cd4388d6ac0de30b29c6dce26.png) no-repeat center center/cover;
}

.mainContent .inner .itm04 {
    background: url(../images/3242854c56253b82f8857749729acd09.jpg) no-repeat center center/cover;
}

.mainContent .inner .itm05 {
    background: url(../images/main-slide_3_r_220223.jpg) no-repeat center center/cover;
}

.mainContent .inner .itm06 {
    background: url(../images/main-banner-R-230104.jpg) no-repeat center center/cover;
}

.mainContent .inner .case h3::after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background: #fff;
    margin: 15px auto 0 auto;
}

.mainContent .inner figure .over {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    padding: 50px 15px;
    color: #fff;

    display: flex;
    flex-direction: column;

    opacity: 0;

    transition: 0.5s;

}

.mainContent .inner figure:hover .over {
    opacity: 1;
}

.mainContent .inner .over h3 {
    font-size: 38px;
    font-weight: 500;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #fff;
    margin: 0 0 30px 0;
}

.mainContent .inner .over p {
    font-size: 19px;
    font-weight: 300;
    line-height: 21px;
    word-break: keep-all;
}


.mainContent .inner .over a {
    border: 1px solid #fff;
    padding: 10px 15px 8px 15px;
    margin: auto 0 0 0;
    align-self: flex-start;
    color: #fff;

}











/* maincustomer */

.mainCustomer {
    position: relative;
    width: 1200px;
    margin: 0 auto;

}

.mainCustomer .inner {
    display: flex;
    gap: 30px;
}

.mainCustomer .inner>div {
    flex: 2;
}

.mainCustomer {
    position: relative;


    background: #fff;
}

.mainCustomer h2 {
    font-size: 28px;
    font-weight: 700;
    padding: 150px 0 30px 0;
    text-align: center;
    text-transform: uppercase;
}

.mainCustomer h2 ::after {
    content: "";
    display: block;
    width: 25px;
    height: 2px;
    background: #333;
    margin: 20px auto;
}

.mainCustomer>p {
    font-size: 16px;
    font-weight: 300;
    margin: 0 0 150px 0;
    text-align: center;
    line-height: 25px;
}

.mainCustomer .inner {

    display: flex;
    width: 100%;
}

.mainCustomer figure {

    overflow: hidden;

}

.mainCustomer figure .scale_box {
    margin: 0 0 20px 0;
    overflow: hidden;

}

.mainCustomer figure .scale_box img {
    transition: 0.5s;
}

.mainCustomer figure .scale_box:hover img {
    transform: scale(1.3);
}







/* main_video */
.main_video {
    position: relative;
}

.main_video video {
    width: 100%;
    height: 90vh;
    vertical-align: middle;
    object-fit: cover;
}

.main_video .video_wrap h2 {
    position: absolute;
    padding: 410px 0 0 300px;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    text-shadow: 1px 1px 0 #000;
    line-height: 55px;
}

.main_video .video_wrap p {
    position: absolute;
    padding: 540px 0 0 350px;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    text-shadow: 1px 1px 0 #000;
    line-height: 30px;
}

.main_video .video_wrap a {
    position: absolute;
    margin: 630px 0 0 550px;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    text-shadow: 1px 1px 0 #000;
    border: 1px solid #fff;
    padding: 5px 10px;
}






/* mainProduct */
.mainProduct {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    background: #fff;
    padding: 100px 0;
}

.mainProduct h2 {
    font-size: 28px;
    font-weight: 700;
    padding: 50px 0 30px 0;
    text-align: center;
    text-transform: uppercase;
}

.mainProduct h2 ::after {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: #333;
    margin: 20px auto;
}

.mainProduct>p {
    font-size: 16px;
    font-weight: 300;
    margin: 0 0 120px 0;
    text-align: center;
    line-height: 25px;
}

.mainProduct strong {
    display: block;
    margin: 20px 0 20px 0;
    text-align: center;
    font-size: 20px;
}

.mainProduct .buy {
    display: inline-block;
    padding: 5px 25px;
    background: #333;
    color: #fff;


}

.mainProduct .buy:hover {
    background: hsl(36, 71%, 64%);
    color: #fff;
}

.mainProduct .inner {
    display: flex;
    gap: 30px;

}

.mainProduct .inner figure {
    flex: 1;
    text-align: center;
}

.mainProduct figure img {
    width: 100%;
}

.mainProduct .inner img {
    border-radius: 30px;
}

.mainProduct .img_box .service {
    position: relative;
    top: 0;
    right: 0;
    background: transparent;
    color: #333;
    height: 100%;
    width: 100px;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    padding: 10px 5px;
    font-size: 25px;

    transition: 0.5s;
    opacity: 0;

}

.mainProduct .img_box:hover .service {
    top: -50px;
    right: 0;
    opacity: 1;

}

.mainProduct .img_box img {
    transition: 0.5s;
}

.mainProduct .img_box:hover img {
    transform: translate(0, 70px);
}

.mainProduct .img_box i {
    background: #333;
    color: #fff;

    border-radius: 50%;
    padding: 10px;
    margin: 2px 0;

}




/* main_Map */
.main_Map {
    background: #ddd;
    height: 400px;
}

.main_Map .flex_inner {
    display: flex;
    width: 1200px;
    height: 300px;
    margin: 0 auto;
    gap: 100px;
    padding: 0 50px;
}

.main_Map .flex_inner>div {
    flex: 1;
    overflow: hidden;
}

.main_Map .main_tab_menu {
    display: flex;
    gap: 1px;

}

.main_Map .main_tab_menu>li {
    flex: 1;
}


.main_Map .main_tab_menu>li button {
    display: block;
    width: 100%;
    background: tan;
    color: #fff;
    line-height: 40px;
    padding: 0 0 0 15px;
    border: none;
}

.main_Map .main_tab_menu>li.on button {
    background: #555;
}

.main_Map .main_tab_content>li {
    display: none;
}

.main_Map .main_tab_content>li.on {
    display: block;
}

.main_Map .main_tab_content .content li {
    display: flex;
    gap: 20px;
    padding: 0 2px;
    line-height: 40px;
    border-bottom: 1px solid #ddd;
}

.main_Map .left {
    overflow: hidden;
}

.main_Map .main_tab_content .content a {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.main_Map .right {
    width: 50px;
}














/* footer */
.footer {
    background: #666;
    color: #ddd;
    font-size: 15px;

}

.footer .top {
    border-bottom: 1px solid #888;
    text-align: center;

}

.footer .inner {
    display: flex;
    font-size: 14px;
    font-weight: 400;
    /* justify-content: space-between; */
    line-height: 20px;
    padding: 10px 20px 10px 0;


}

.footer .inner .lnk {
    padding: 15px 0 0 50px;
}

.footer .top ul {
    display: flex;

}




.footer .top .lnk li~li::before {
    content: "";
    display: inline-block;
    margin: 0 15px 0 17px;
    width: 1px;
    height: 11px;
    background: #333;
}


.footer .top .sns {
    padding: 0 0 0 1000px;

}

.footer .top .sns i {
    font-size: 30px;
    padding: 10px;
    background: #222;
    margin: 0 0 0 10px;
    vertical-align: middle;
    border-radius: 50%;
    color: #fff;
    width: 80%;
}

.footer .bottom .inner {
    color: #000;
    padding: 20px 0 20px 50px;
}

.footer .bottom .inner a {
    color: #111;

}

.footer .bottom .f_link {
    padding: 0 0 0 850px;
}

#f_link select {
    background: transparent;
    border: none;
    outline: none;
    padding: 5px 20px;
    border: 1px solid #888;

}

#f_link option {
    background: #333;

}




/* totop */
body {
    height: 300vh;
}

#toTop {
    position: fixed;
    bottom: 30px;
    right: 30px;

    display: none;
}

#toTop i {
    background: #fff;
    color: #333;
    font-size: 20px;
    padding: 20px;
    border-radius: 50%;
}