body {
    /* overflow-x: hidden; */
    height: 500vh;
}

.Wrap {
    min-width: 1900px;

}


/* top_banner */
.top_banner {
    font-size: 13px;
    line-height: 35px;
    border-bottom: 1px solid #ddd;
}

.top_banner .f_inner {
    justify-content: flex-end;
}

.top_banner a {
    padding: 0 15px;
    margin: 0 0 0 15px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.f_inner {
    display: flex;
    flex-direction: row;
    width: 1200px;
    margin: 0 auto;
}


/* 드롭다운배너 */
#header {
    position: sticky;
    top: 0;
    left: 0;

    z-index: 1000;

    padding: 0 50px;
    justify-content: space-between;
    line-height: 100px;
    background: rgba(252, 252, 252, 0.9);
    display: flex;

}

#header h1 {

    font-size: 0;
}



#header .gnb>ul {
    display: flex;
    justify-content: center;
    width: 1200px;

}

#header .gnb>ul>li>a {
    font-size: 20px;
    font-weight: 500;
}




#header .right_menu a {
    font-size: 15px;
    line-height: 40px;

}

#header .gnb>ul>li>a {
    padding: 0 50px;
    top: -20px;
}


#header .gnb>ul>li a {
    display: block;

}

#header .gnb>ul>li .menu_wrap {
    position: absolute;
    top: 100px;
    left: 0px;
    right: 0;
    line-height: 25px;
    display: none;
    background: rgba(252, 252, 252, 0.9);
    border: 1px solid #ddd;
}

#header .gnb>ul>li:hover .menu_wrap {
    display: block;
}



#header .mega {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 40px 100px;
    gap: 50px;

}

#header .mega img {
    width: 250px;
    padding: 10px 0;
}

#header .mega .right_menu {
    display: flex;
    gap: 45px;
}

#header .mega .left_img {

    padding: 0 100px;
    border-right: 2px solid #ddd;
}






/* search input */
#header .search input {
    outline: none;
    border: none;
    border-bottom: 1px solid #555;
    padding: 5px 0;
    width: 100px;
    transition: 0.5s;
    background: transparent;
    ;
}

#header .search input:focus {
    width: 120px;

}

#header .search input::placeholder {
    color: #ddd;

}

#header .search input:focus::placeholder {
    color: transparent;
}

#header .search button {
    background: transparent;
    border: none;
    font-size: 30px;
    line-height: 1;
}

#header .search_toggle {
    display: none;
}







/* popup */
.popup {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-130%, -50%);
    z-index: 9999;
}

.popup button {
    position: absolute;
    bottom: 535px;
    right: 10px;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;

}






/* slideTab */
#slideTab {
    position: relative;
    background: url(../images/bg_prd_maxim.jpg);
    height: 650px;
    padding: 250px 0 0 0;
}

#slideTab h2 {
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 40px 0;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 1px #333;

}

#slideTab .inner {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;

    font-size: 17px;
    font-weight: 500;

    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 0 #333;

}

#slideTab .menu {
    display: flex;
    justify-content: center;
    margin: -150px auto 30px auto;
    gap: 30px;
}

#slideTab .menu button {
    background: transparent;
    border: none;
}

#slideTab .menu>li::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: tomato;
    margin: 5px auto;
}

#slideTab .menu>li.on::after {
    width: 30px;
    transition: 0.5s;
}

#slideTab .con>div {
    visibility: hidden;
    height: 0;
}

#slideTab .con>div.on {
    visibility: visible;
    height: auto;
}

#slideTab .con .sl01 {
    position: relative;



}

#slideTab .con .bn {
    padding: 50px 0 0 0;
}

#slideTab .con .bp {
    padding: 80px 0 0 0;

}

#slideTab .con .bp .sl01 {
    display: flex;

    margin: 300px 0 0 0;
}

#slideTab .sl01 .bp {
    display: flex;


}

#slideTab .sl01 .bp p {
    color: #333;
    text-shadow: 0 0 0 #fff;
    font-size: 17px;
    font-weight: 400;
}

#slideTab .con .bp .sl02 {
    display: flex;

}

#slideTab .sl02 .bp {
    display: flex;
    width: 50%;
    margin: 0 auto;
}

#slideTab .sl02 .bp p {
    color: #333;
    text-shadow: 0 0 0 #fff;
    font-size: 17px;
    font-weight: 400;
}

#slideTab .con .bp .sl03 {
    display: flex;
}

#slideTab .sl03 .bp {
    display: flex;
}

#slideTab .sl03 .bp p {
    color: #333;
    text-shadow: 0 0 0 #fff;
    font-size: 17px;
    font-weight: 400;
}

#slideTab .con .bp .sl04 {
    display: flex;

}

#slideTab .sl04 .bp {
    display: flex;
    width: 50%;
    margin: 0 auto;
}

#slideTab .sl04 .bp p {
    color: #333;
    text-shadow: 0 0 0 #fff;
    font-size: 17px;
    font-weight: 400;
}


#slideTab .con .bp .sl05 {
    display: flex;
}

#slideTab .sl05 .bp {
    display: flex;
}

#slideTab .sl05 .bp p {
    color: #333;
    text-shadow: 0 0 0 #fff;
    font-size: 17px;
    font-weight: 400;
}

#slideTab .con figure {
    padding: 0 15px;

}

#slideTab .slide {
    margin: 0 -15px;
}








/* mainVisual _mainSlide*/
#mainVisual {
    position: relative;
    padding: 300px 0 0 0;
}

#mainVisual .mainSlide .itm {
    height: 850px;


}

#mainVisual .mainSlide .itm01 {
    background: url(../images/img_banner1_6.jpg) no-repeat center top/cover;

}


#mainVisual .mainSlide .itm02 {
    background: url(../images/img_banner1_7.jpg) no-repeat center center/cover;
}

#mainVisual .mainSlide .itm03 {
    background: url(../images/img_banner1_2.jpg) no-repeat center center/cover;
}



#mainVisual .main_slide_dots {
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    gap: 10px;

}

#mainVisual .main_slide_dots li button {
    background: #777;
    color: #fff;
    padding: 5px;
    font-size: 0;
    border-radius: 50%;
    border: 1px;
}

#mainVisual .main_slide_dots li.on button {
    background: hsl(36, 71%, 64%);
}

#mainVisual .mainSlide .itm01 strong {
    display: block;
    margin: 350px 0 0 150px;
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 0 1px #000;
    text-indent: -4px;
}

#mainVisual .mainSlide .itm02 strong {
    display: block;
    margin: 350px 0 0 950px;
    font-size: 45px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 0 1px #000;
    text-indent: -4px;
}

#mainVisual .mainSlide .itm03 strong {
    display: block;
    margin: 250px 0 0 60px;
    font-size: 42px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 0 1px #000;
    text-indent: -4px;
}


#mainVisual .mainSlide .itm p {
    margin: 20px 0 0 410px;

    font-size: 20px;
    font-weight: 500;
    color: #fff;
    text-shadow: 0 0 1px #000;

}

#mainVisual .mainSlide .itm02 p {

    margin: 20px 0 0 950px;

    font-size: 25px;
    font-weight: 500;
    color: #fff;
    text-shadow: 0 0 1px #000;

}

#mainVisual .mainSlide .itm03 p {

    margin: 20px 0 0 460px;

    font-size: 25px;
    font-weight: 500;
    color: #fff;
    text-shadow: 0 0 1px #000;

}

#mainVisual .mainSlide .itm strong {
    opacity: 0;
    transform: translate(0, 100px);
    transition: 0.5s 0.5s;
}

#mainVisual .mainSlide .itm.on strong {
    opacity: 1;
    transform: translate(0, 0);
    transition: 0.5s 0.5s;
}

#mainVisual .mainSlide .itm p {
    opacity: 0;
    transform: translate(0, 100px);
}

#mainVisual .mainSlide .itm.on p {
    opacity: 1;
    transform: translate(0, 0);
    transition: 0.5s 1s;
}








/* mainContent */
.mainContent {
    padding: 150px 0 250px 0;
    background: #f3f3f3;
}

.mainContent h2 {
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    margin: -50px 0 20px 0;
    color: #fff;
    text-shadow: 1px 2px 2px rgb(46, 44, 44);
}

.mainContent p {
    font-size: 17px;
    font-weight: 300;
    text-align: center;
    margin: 0 0 70px 0;
}

.mainContent .inner {
    display: flex;
    gap: 2px;
    width: 1800px;
    margin: 0 auto;
}




.mainContent .inner figure {
    position: relative;
    flex: 1;
    height: 500px;
    background: #333;
    overflow: hidden;
    transition: 0.5s;
}

.mainContent .inner figure:hover {
    flex: 3;
}

.mainContent .inner .itm01 {
    background: url(../images/main-banner-L-221208.jpg) no-repeat center center/cover;
}

.mainContent .inner .itm02 {
    background: url(../images/d99a48bb67d2c8b577288b500ef480ab.jpg) no-repeat center center/cover;
}

.mainContent .inner .itm03 {
    background: url(../images/3916b15cd4388d6ac0de30b29c6dce26.png) no-repeat center center/cover;
}

.mainContent .inner .itm04 {
    background: url(../images/3242854c56253b82f8857749729acd09.jpg) no-repeat center center/cover;
}

.mainContent .inner .itm05 {
    background: url(../images/main-slide_3_r_220223.jpg) no-repeat center center/cover;
}

.mainContent .inner .itm06 {
    background: url(../images/main-banner-R-230104.jpg) no-repeat center center/cover;
}

.mainContent .inner .case h3::after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background: #fff;
    margin: 15px auto 0 auto;
}

.mainContent .inner figure .over {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    padding: 50px 15px;
    color: #fff;

    display: flex;
    flex-direction: column;

    opacity: 0;

    transition: 0.5s;

}

.mainContent .inner figure:hover .over {
    opacity: 1;
}

.mainContent .inner .over h3 {
    font-size: 38px;
    font-weight: 500;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #fff;
    margin: 0 0 30px 0;
}

.mainContent .inner .over p {
    font-size: 19px;
    font-weight: 300;
    line-height: 21px;
    word-break: keep-all;
}


.mainContent .inner .over a {
    border: 1px solid #fff;
    padding: 10px 15px 8px 15px;
    margin: auto 0 0 0;
    align-self: flex-start;
    color: #fff;
}











/* maincustomer */

#maincustomer {
    position: relative;
    padding: 0 0 100px 0;

}

#maincustomer .inner {
    display: flex;
}

#maincustomer .inner>div {
    flex: 2;
}





/* footer */
.footer {
    background: #666;
    color: #fff;
    font-size: 15px;

}

.footer .top {
    border-bottom: 1px solid #888;

}

.footer .inner {
    display: flex;
    justify-content: space-between;
    line-height: 30px;
    padding: 40px 20px 40px 0;
}

.footer .top ul {
    display: flex;
}




.footer .top .lnk li~li::before {
    content: "";
    display: inline-block;
    margin: 0 15px 0 17px;
    width: 1px;
    height: 11px;
    background: #888;
}



.footer .top .sns i {
    font-size: 30px;
    padding: 10px;
    background: #222;
    margin: 0 0 0 4px;
    vertical-align: middle;
    border-radius: 50%;
}

#f_link select {
    background: transparent;
    border: none;
    outline: none;
    padding: 5px 20px;
    border: 1px solid #888;

}

#f_link option {
    background: #333;

}




/* totop */
body {
    height: 300vh;
}

#toTop {
    position: fixed;
    bottom: 30px;
    right: 30px;

    display: none;
}

#toTop i {
    background: #fff;
    color: #333;
    font-size: 20px;
    padding: 20px;
    border-radius: 50%;
}